body, html {
  height: 100%;
  margin: 0;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  background-image:
    url(https://images.pexels.com/photos/1578115/pexels-photo-1578115.jpeg?cs=srgb&dl=beautiful-beauty-model-blond-hair-1578115.jpg&fm=jpg);
}

.img-2 {
  background-image:
    url(https://images.pexels.com/photos/1534604/pexels-photo-1534604.jpeg?cs=srgb&dl=american-car-auto-automobile-1534604.jpg&fm=jpg);
}

.name {
  color: white;
  margin: 0;
  padding: 33.33% 0 0 0;
}

.info {
  height: 33.33%;
  background-color: white;
  font-size: 30px;
}
