body, html {
  height: 100%;
  margin: 0;
}

/* ---------------------- NAV MENU STYLING BEGIN ------------------------ */

.hamnav {
  width: 35px;
  font-size: 40px;
  color: rgba(153, 31, 31, 0.7);
}

.container {
  position: fixed;
  margin: 5px 1%;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(109, 92, 92, 0.5); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(24, 4, 4);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 30%;}
  .sidenav a {font-size: 15px;}
}

@media screen and (max-width: 380px) {
  .hamnav {
    font-size: 25px;
    width: 10px;
  }
  .container {
    margin: 0 0 10px 10px;
  }
}

/* -------------------------- NAV MENU STYLING END ----------------------- */





/* ------------------------- PARALLAX SCROLL STYLING BEGIN ---------------- */

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------ PARALLAX SCROLL STYLING END ------------------ */




/* ----------------------- PERSONAL INFORMATION STYLING BEGIN --------------- */

.img-1 {
  background-image:
    url(https://images.pexels.com/photos/1578115/pexels-photo-1578115.jpeg?cs=srgb&dl=beautiful-beauty-model-blond-hair-1578115.jpg&fm=jpg);
}

.img-2 {
  background-image:
    url(https://images.pexels.com/photos/1534604/pexels-photo-1534604.jpeg?cs=srgb&dl=american-car-auto-automobile-1534604.jpg&fm=jpg);
}

.name {
  color: white;
  margin: 0;
  padding: 33.33% 0 0 0;
}

.info {
  height: 33.33%;
  background-color: white;
  font-size: 30px;
}

/* ----------------------- PERSONAL INFORMATION STYLING END ----------------- */ 
